.account-info{
    margin-top:220px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.account-flex {
    display: flex;
    justify-content: space-around;
    margin-top:80px;
}

.account-flex-item {
    width:40% ;
   
}

.logout-btn{
    width:230px;
    height: 70px;
    margin-top: 45px;
  
}


.margin-line{
    padding-right:120px;
    margin-top:-320px;
    max-width: 15%;
    height: 100%;
    
    
}

.welcome-account{
    font-family:'IM Fell English SC';
}