.res-edit-form{

    margin-top: 265px;
    display: flex;
    width: 750px;        
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    
    
}

.edit-form-label{
    font-size: 25px;
}

.number{
    font-size: 13px;

}

.room-name{
   
    font-size: 25px;
    /* font-family: 'IM Fell English SC', serif; */
}

.edit-rez-form{
    font-size: 27px;
    font-family: 'IM Fell English SC', serif;
}

.service-desc{
    font-size: 13px;
    font-style: italic;
}

.services{
    font-size: 13px;
}

.booking-border{
    width:100%;
    height: 130%;
   
}

.edit-formgrid {
    margin-top: -910px;   
    padding: 0 40px;
    margin-left:20px;
}
