.booking-form {
    margin-top: 265px;
    display: flex;
    width: 750px;        
    margin-left: auto;
    margin-right: auto;
    
}

.form-label{
    font-size: 25px;
}

.number{
    font-size: 13px;

}

.room-name{
   
    font-size: 25px;
    /* font-family: 'IM Fell English SC', serif; */
}

.rez-form{
    font-size: 27px;
    font-family: 'IM Fell English SC', serif;
}

.service-desc{
    font-size: 13px;
    font-style: italic;
}

.services{
    font-size: 13px;
}

.booking-border{
    width:100%;
    height: 130%;
    
}

.rez-formgrid {
    margin-top: -935px;   
    padding: 0 40px;
    margin-left:20px;
   
}

.confirm-btn{
    width:230px;
    height: 70px;
    margin-top: 10px;
  
}



  
.container input:checked ~ .checkmark {
    background-color:white;
  }