.booking-form {
    margin-top: 265px;
    display: flex;
    width: 750px;        
    margin-left: auto;
    margin-right: auto;
    
}

.form-label{
    font-size: 25px;
}

.number{
    font-size: 13px;

}

.room-name{
   
    font-size: 25px;
    /* font-family: 'IM Fell English SC', serif; */
}

.rez-form{
    font-size: 27px;
    font-family: 'IM Fell English SC', serif;
}

.services{
    font-size: 13px;
}

.booking-border{
    width:100%;
    height: 80%
}

.formgrid {
    margin-top: -680px;   
    padding: 0 40px;
}
