img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 700px;
}

.home-flex-container{
    display:flex;
    justify-content: space-around;
    
}

.swept-away-flex-item {
    /* display:flex;
    justify-content: space-around; */
    max-width: 50%;
    height:600px;
    margin-right: 0px;
    margin-left: 200px;
}
 
.welcome-flex-item{ 
    padding-top: 65px;
    padding-right: 200px;
    padding-left: 150px;
    text-align: justify;
    font-family: 'IM Fell English SC'
   
}

.welcome-title{
    font-family: 'IM Fell English SC';

 
}

#logo {
    margin-top: 145px;
}

.welcome{
    height: 500px;
    width:525px;
    
}