img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 700px;
}

.swept-away {
    max-width: 40%;
  
    margin-right: auto;
}

#logo {
    margin-top: 145px;
}