body {
    background-color: #f4ecec;
    font-family: 'Roboto Condensed', sans-serif;
}

fieldset {
    border: none;
}

.card {
    background-color: #faf3ea;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-size: 18px; */
    color: #620940;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    width: 75%;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 185px 150px 40px 150px;
}

#sticky {
    position: "fixed";
    top: 0;
}

/* #a59b53 */