body {
    background-color: #f4ecec;
    
}

.card { 
    background-color: transparent;
    
}

.container-cards { 
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: space-around;
  } 