.gallery-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    margin-top:30px;
}

.gallery-image{
margin-top: 30px;
margin-right:20px;

}

.image-card{
    height: 240px;
    width:285px;
    
}

.gallery-page{
    margin-top: 240px;
    font-family: 'IM Fell English SC', serif;
}

.gallery-page-message{
    margin-right:120px;
    margin-left:120px;
    font-size:15px;
    font-family: 'Roboto Condensed', sans-serif;
 
   
}