.cards {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #CAD0D2; */
    border-radius: 1px;
    text-align: center;
    flex: 0 0 350px;
    padding-top: 30px;
    margin-bottom: 40px;
    margin: 0 10px 40px 10px;
}

.card {

    border: 1px solid #CAD0D2;
    border-radius: 15px;
    width: 100%;
    
}

.card-image {
    max-height: 185px;
    width: 275px;
    padding-top: 15px;
}

.book-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.book-button-container:hover {
    cursor: pointer;
}

h6{
    text-align:center;
}

h3{
    text-align:center;
}

.cost{
    text-align: center;
}

.rooms-page {
    margin-top: 240px;
    font-family: 'IM Fell English SC', serif;

   
}

.rooms-page-message{
    margin-right:120px;
    margin-left:120px;
    font-size:15px;
    font-family: 'Roboto Condensed', sans-serif;
  
   
}