#sticky {
    position: fixed;
    top: 0;
    background-color: #f4ecec;
    margin: 0;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;
    margin-top: 10px;
    /* margin: space between links in row */
    padding: 0px;
    list-style-type: none;
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    list-style-type: none;
}

.border-nav {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 75%;
    height: 45px;
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #696d7d;
}

.nav-link:hover {
    color: #620940;
    transition: .3s;
}

.contact {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:#696d7d;    
    border: 1px solid #620940;
    padding: 5px;
    margin-left: 5%;
    height: 20px;
    width: 100px;
    text-align: center;
    transition: all 0.5s ease;
}

  
  .contact:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: solid 1px  #620940;   
    margin: -6px;
    z-index: -1;
    transition: transform 0.3s linear;
    transform: scale(0.97, 0.93);  
  }


  
  .contact:hover::after { 
      transform: scale(1.1,1);     
}
  

.broom-nav {
    height: 93px;
    padding-left: 60%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.broom-nav:hover {
    transform: rotate(355deg);
}

.book-nav {
    height: 70%;
    width: 88%;
    margin-right: -18px;
}

.book-nav:hover {
    transform: rotate(355deg);

}

/* .suitcase {
    height: 30%;
    width: 25%;
    margin-left: auto;
    margin-right:auto;
    padding:0px;
} */

/* a:hover {
    color: gray;
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color:black;
  } */

/* #bb7e8c */